# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Note: I'm keeping 'model/trained_model.pkl' so users can run inference 
# immediately without needing to train their own model first.
